<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mentalmath">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AttentionTest"
            android:label="@string/main_records">
        </activity>
        <activity android:name="MainActivity"
            android:label="@string/app_name"/>
        <activity android:name=".ComplicatedActivity">
        </activity>
        <activity android:name="DigitalSequenceActivity"
                android:label="@string/main_digital_sequence">
            </activity>
            <activity android:name="DigitalSquareActivity"
                android:label="@string/dig_square_title"
                android:configChanges="orientation">
            </activity>
            <activity android:name="RecordsActivity"
                android:label="@string/main_records">
            </activity>

    </application>

</manifest>
